<a href="https://colab.research.google.com/github/KVenkataPavani/Pandas_Python/blob/main/Handling_Duplicates_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Handling Duplicates**

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("company1.csv")

In [4]:
print((data))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [5]:
#to extract duplicate values
print(data.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [9]:
#to extract column duplicate values
print(data["EEID"].duplicated().sum())

2

In [10]:
#remove duplicate values
print(data.drop_duplicates())

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

In [11]:
#remove duplicate values
print(data.drop_duplicates("EEID"))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

In [12]:
#remove duplicate values
print(data.drop_duplicates("Name"))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0