<a href="https://colab.research.google.com/github/KVenkataPavani/Pandas_Python/blob/main/Handling_Missing_Data_Drop_Fill_Replace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Handling Missing Data**

In [1]:
import pandas as pd

In [24]:
data = pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [25]:
print(data.isnull())

    EEID   Name  gender  salary
0  False  False   False    True
1  False  False   False   False
2  False  False    True   False
3  False  False   False   False
4  False   True   False   False
5  False  False   False    True
6  False  False   False   False

In [26]:
print(data.isnull().sum())

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [27]:
#to remove null values = .dropna()
# Drop rows with any missing values
print(data.dropna())

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0

In [28]:
# df.fillna()  # filling null values with above or below data in columns
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [32]:
print(data.fillna("hi"))

    EEID      Name gender   salary
0  EMP01    ayushi      F       hi
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali     hi  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05        hi      M  25000.0
5  EMP06     rohit      M       hi
6  EMP02     rohit      M  25000.0

In [30]:
print(data.bfill())

    EEID      Name gender   salary
0  EMP01    ayushi      F  25000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      F  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     rohit      M  25000.0
5  EMP06     rohit      M  25000.0
6  EMP02     rohit      M  25000.0

In [31]:
print(data.ffill())

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05    ayushi      M  25000.0
5  EMP06     rohit      M  25000.0
6  EMP02     rohit      M  25000.0

In [35]:
#if we have numeric we find mean and then replace that
print(data["salary"].mean())
print(data)

24400.0
    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [37]:
import numpy as np
data["salary"]=data["salary"].replace(np.nan,24400)
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  24400.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  24400.0
6  EMP02     rohit      M  25000.0