<a href="https://colab.research.google.com/github/KVenkataPavani/Pandas_Python/blob/main/Viewing_and_Inspecting_and_accessing_Data_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Viewing and Inspecting Data in Pandas**

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("ESD.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [3]:
#Head
data = pd.read_excel("ESD.xlsx")
print(data.head(10)) # starting 10 rows we can see

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT
5     0.00          China  Chongqing        NaT
6     0.10  United States    Phoenix        NaT
7     0.00  United States      Miami 2021-05-20
8     0.06  United States     Austin        NaT
9     0.00  United States    Chicago        NaT

In [4]:
#tail
data = pd.read_excel("ESD.xlsx")
print(data.tail(10)) # last 10 rows we can see

       EEID          Full Name             Job Title       Department  \
990  E01578       Anthony Hong            Sr. Manger               IT
991  E03430        Leo Herrera  Sr. Business Partner  Human Resources
992  E03058      Robert Wright   Technical Architect               IT
993  E04762  Audrey Richardson              Director               IT
994  E01148     Scarlett Kumar       Systems Analyst               IT
995  E03094       Wesley Young           Sr. Analyst        Marketing
996  E01909       Lillian Khan               Analyst          Finance
997  E04398        Oliver Yang              Director        Marketing
998  E02521        Lily Nguyen           Sr. Analyst          Finance
999  E03545        Sofia Cheng        Vice President       Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
990  Research & Development    Male      Asian   37 2010-11-29         146961
991  Research & Development    Male     Latino   48 1998-04-22          85369
992           Manufacturing    Male  Caucasian   30 2015-06-14          67489
993           Manufacturing  Female  Caucasian   46 2018-10-06         166259
994               Corporate  Female      Asian   55 2009-01-07          47032
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country      City  Exit Date
990     0.11  United States  Columbus        NaT
991     0.00         Brazil    Manaus 2004-11-27
992     0.00  United States   Chicago        NaT
993     0.17  United States   Chicago        NaT
994     0.00  United States  Columbus        NaT
995     0.00  United States  Columbus        NaT
996     0.00          China   Chengdu 2018-01-08
997     0.15  United States     Miami        NaT
998     0.00          China   Chengdu        NaT
999     0.31  United States     Miami        NaT

In [6]:
#Head  and tail default
data = pd.read_excel("ESD.xlsx")
print(data.head()) # by default 5 rws will be given if we dnt give anything
print(data.tail())

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT
       EEID     Full Name       Job Title  Department        Business Unit  \
995  E03094  Wesley Young     Sr. Analyst   Marketing  Speciality Products
996  E01909  Lillian Khan         Analyst     Finance  Speciality Products
997  E04398   Oliver Yang        Director   Marketing  Speciality Products
998  E02521   Lily Nguyen     Sr. Analyst     Finance  Speciality Products
999  E03545   Sofia Cheng  Vice President  Accounting            Corporate

     Gender  Ethnicity  Age  Hire Date  Annual Salary  Bonus %        Country  \
995    Male  Caucasian   33 2016-09-18          98427     0.00  United States
996  Female      Asian   44 2010-05-31          47387     0.00          China
997    Male      Asian   31 2019-06-10         176710     0.15  United States
998  Female      Asian   33 2012-01-28          95960     0.00          China
999  Female      Asian   63 2020-07-26         216195     0.31  United States

         City  Exit Date
995  Columbus        NaT
996   Chengdu 2018-01-08
997     Miami        NaT
998   Chengdu        NaT
999     Miami        NaT

In [8]:
#Info()
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   int64
 8   Hire Date      1000 non-null   datetime64[ns]
 9   Annual Salary  1000 non-null   int64
 10  Bonus %        1000 non-null   float64
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 109.5+ KB
None

In [9]:
#Describe - df.describe()  # Statistical summary for numerical columns
print(data.describe())

               Age                   Hire Date  Annual Salary      Bonus %  \
count  1000.000000                        1000    1000.000000  1000.000000
mean     44.382000  2012-04-07 02:54:14.400000  113217.365000     0.088660
min      25.000000         1992-01-09 00:00:00   40063.000000     0.000000
25%      35.000000         2007-02-14 00:00:00   71430.250000     0.000000
50%      45.000000         2014-02-15 12:00:00   96557.000000     0.000000
75%      54.000000         2018-06-22 00:00:00  150782.250000     0.150000
max      65.000000         2021-12-26 00:00:00  258498.000000     0.400000
std      11.246981                         NaN   53545.985644     0.117856

                           Exit Date
count                             85
mean   2016-11-02 18:04:14.117647104
min              1994-12-18 00:00:00
25%              2014-12-25 00:00:00
50%              2019-05-23 00:00:00
75%              2021-04-09 00:00:00
max              2022-08-17 00:00:00
std                              NaN

In [10]:
print(data.isnull()) #isnull()tell where null values gives true

      EEID  Full Name  Job Title  Department  Business Unit  Gender  \
0    False      False      False       False          False   False
1    False      False      False       False          False   False
2    False      False      False       False          False   False
3    False      False      False       False          False   False
4    False      False      False       False          False   False
..     ...        ...        ...         ...            ...     ...
995  False      False      False       False          False   False
996  False      False      False       False          False   False
997  False      False      False       False          False   False
998  False      False      False       False          False   False
999  False      False      False       False          False   False

     Ethnicity    Age  Hire Date  Annual Salary  Bonus %  Country   City  \
0        False  False      False          False    False    False  False
1        False  False      False          False    False    False  False
2        False  False      False          False    False    False  False
3        False  False      False          False    False    False  False
4        False  False      False          False    False    False  False
..         ...    ...        ...            ...      ...      ...    ...
995      False  False      False          False    False    False  False
996      False  False      False          False    False    False  False
997      False  False      False          False    False    False  False
998      False  False      False          False    False    False  False
999      False  False      False          False    False    False  False

     Exit Date
0        False
1         True
2         True
3         True
4         True
..         ...
995       True
996      False
997       True
998       True
999       True

[1000 rows x 14 columns]

In [11]:
print(data.isnull().sum()) #isnull().sum() tells column wise null value count;

EEID               0
Full Name          0
Job Title          0
Department         0
Business Unit      0
Gender             0
Ethnicity          0
Age                0
Hire Date          0
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        915
dtype: int64

#**Accessing columns and rows**

In [12]:
# df['column_name']  # Access a column
# df[['col1', 'col2']]  # Access multiple columns
# df.iloc[0]  # Access a row by index
# df.loc[0, 'column_name']  # Access a specific cell by label
data['Department']

0              IT
1              IT
2         Finance
3              IT
4         Finance
          ...
995     Marketing
996       Finance
997     Marketing
998       Finance
999    Accounting
Name: Department, Length: 1000, dtype: object

In [15]:
data[['Department','Age']]

     Department  Age
0            IT   55
1            IT   59
2       Finance   50
3            IT   26
4       Finance   55
..          ...  ...
995   Marketing   33
996     Finance   44
997   Marketing   31
998     Finance   33
999  Accounting   63

[1000 rows x 2 columns]

In [16]:
data.iloc[0]

EEID                             E02387
Full Name                   Emily Davis
Job Title                    Sr. Manger
Department                           IT
Business Unit    Research & Development
Gender                           Female
Ethnicity                         Black
Age                                  55
Hire Date           2016-04-08 00:00:00
Annual Salary                    141604
Bonus %                            0.15
Country                   United States
City                            Seattle
Exit Date           2021-10-16 00:00:00
Name: 0, dtype: object

In [21]:
data.loc[55,'Department']

'Engineering'